ng-form(name="form")
  h2.title {{ 'Add delegated users' | translate }}

  .add-sharee
    .user-autocomplete.fg-line
      users-autocomplete-input(
        mutable-users='$ctrl.newUsers',
        on-adding-user='$ctrl.onAddingUser',
        ignored-users='$ctrl.ignoredUsers'
      )
    .select-delegation
      md-select(
        ng-model='$ctrl.selectedAccess',
        md-container-class="addressbook-settings-dropdown",
        md-menu-backdrop-fix
      )
        md-option(
          ng-repeat="access in $ctrl.CONTACT_SHARING_SHARE_ACCESS_CHOICES"
          ng-value="access.value"
          ng-selected="access.value === $ctrl.selectedAccess"
        )
          | {{ access.longLabel | esnI18n }}
    .delegation-actions
      button.btn.btn-primary.btn-sm(ng-click="$ctrl.onAddBtnClick()", type="button") {{ 'Add' | translate }}

  h2.title {{ 'Shared with' | translate }}

  .text-center(
    openpaas-logo-spinner,
    spinner-start-active="1",
    spinner-size="0.5",
    ng-if='$ctrl.status === "loading"'
  )

  .error-message(ng-if='$ctrl.status === "error"')
    i.mdi.mdi-alert-circle-outline
    .message {{ 'Something went wrong, please try again later' | translate }}

  .no-sharee(ng-if='$ctrl.status === "loaded" && !$ctrl.hasVisibleSharee()')
    .text-center.text-muted {{ 'This address book is not shared with anyone' | translate }}

  .sharee-list-item(ng-if='$ctrl.status === "loaded" && $ctrl.hasVisibleSharee() && $ctrl.isVisibbleSharee(sharee)', ng-repeat='sharee in $ctrl.sharees track by sharee.userId')
    .sharee-info
      esn-avatar(user-id='sharee.userId')
      .user-info
        a.ellipsis(ng-href="mailto:{{::sharee.user.email}}" op-inbox-compose, op-inbox-compose-users="[sharee]") {{::sharee.user.displayName}}
    .select-delegation
      md-select(
        ng-model='sharee.access',
        md-container-class="addressbook-settings-dropdown",
        md-menu-backdrop-fix
      )
        md-option(
            ng-repeat="access in $ctrl.CONTACT_SHARING_SHARE_ACCESS_CHOICES"
            ng-value="access.value"
            ng-selected="access.value === sharee.access"
          )
            | {{ access.longLabel | esnI18n }}
    .share-actions
      button.btn.btn-link.btn-icon.waves-effect.waves-light.waves-circle(ng-click='form.$setDirty(); $ctrl.onRemoveShareeClick(sharee)', type="button")
        i.mdi.mdi-close
